project to scrape wikipedia page to extract table from website

In [12]:
import numpy as np 

import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json

from geopy.geocoders import Nominatim

import requests
from pandas.io.json import json_normalize

import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

import folium

print('Libraries imported.')

Libraries imported.

In [18]:
from bs4 import BeautifulSoup

res=requests.get(' https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 

dfs = pd.read_html(str(table))
df=dfs[0]
df.describe()

       Postal Code       Borough Neighborhood
count          180           180          103
unique         180            11           99
top            M6K  Not assigned    Downsview
freq             1            77            4

In [14]:
df.drop( df[ df['Borough'] == 'Not assigned'].index , inplace=True)
df.reset_index(drop=True,inplace=True)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [15]:
df1=df['Postal Code'].value_counts(sort=True).to_frame()
df1.head()

     Postal Code
M6K            1
M4M            1
M6M            1
M1V            1
M6J            1

In [16]:
df.isna().sum()

Postal Code     0
Borough         0
Neighborhood    0
dtype: int64

In [17]:
df.shape

(103, 3)